Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Supernova 1 1
XXIXX
XIIIX
IICII
XIIIX
XXIXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Charizard 3 3
IXIXI
XIIIX
XXCXX
XIIIX
IXIXI
Genova 10 3
XXXXX
XXIXX
IICIX
XXIXX
XXXXX
RedVII 3 2
XXXXX
XXXIX
XXCII
XXXIX
XXXXX
Flameshielder 2 1
XXIXX
XXIXX
XXCIX
XXIXX
XXIXX
Security 1 2
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
PartyGuy 1 1
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Aerith 1 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
Tifa 2 1
XXXXX
XXXIX
XICIX
XXXIX
XXXXX
Crabdude 1 2
XXXXX
XXIIX
XXCIX
XXXXX
XXXXX
ShinraSOLDIER 3 1
XXXXX
XXIIX
XXCIX
XXIIX
XXXXX
Guard 1 1
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
BusterSword 1 1
XXXXX
XXXXX
XXCIX
XXXXX
XXXXX